/*GLOBAL SETTINGS*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 2.6em;
  font-family: 'Sofia';
  margin: 10px 0;
}

h2, p {
  color: white;
}

/*HEADER AND NAVBAR*/
header {
  margin: 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #FD5DA8;
  color: bisque;
}

#logo-header {
  display: flex;
  flex-direction: row;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#nav-bar li {
  padding-top: 15px;
  list-style-type: none;
  font-size: 24px;
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#nav-bar a:hover {
  color: bisque;
  background-color: #ca4a86;
}

/*HERO SECTION*/
#hero-bg {
  background-image: url("hero.jpg");
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero {
  padding: 10% 5%;
  font-size: 2.4em;
  width: 50%;
}

#hero p {
  margin-top: 15px;
  font-size: 28px;
}

#subscribe-input {
  margin-top: 24px;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  width: 30%;
}

#subscribe-btn {
  background-color: yellow;
  border-radius: 6px;
  width: 15%;
  font-size: 16px;
  padding: 12px;
}

#subscribe-btn:hover {
  background-color: goldenrod;
}